<div class="patient-card" *ngIf="patientCardData">
    <div class="patient-card__body">
        <div class="patient-card__content">
            <div class="patient-card__patient-photo" *ngIf="patientCardData.photo; else defaultPhoto">
                <img src="assets/images/{{ patientCardData.photo }}" alt="фото пациента">
            </div>
            <ng-template #defaultPhoto>
                <div class="patient-card__patient-photo" >
                    <img src="assets/images/default-user-img.svg" alt="фото пациента">
                </div>
            </ng-template>

            <div class="patient-card__patient-data">
                <ng-container *ngFor="let field of patientCardData.patientCardFields">
                    <label
                        class="patient-card__label" for="field"
                        *ngIf="field.label; else notSetLabel"
                    >
                        {{ field.label }}
                    </label>
                    <div
                        class="patient-card__data"
                        id="field"
                        *ngIf="field.data; else notSetData"
                    >
                        {{ field.data }}
                    </div>
                </ng-container>
                <ng-template #notSetLabel>
                    <div class="patient-card__label_not-set" >
                        Не задано
                    </div>
                </ng-template>
                <ng-template #notSetData>
                    <div class="patient-card__data_not-set" >
                        Не задано
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div
        class="patient-card__edit-button"
        (click)="edit()"
        *ngIf="canEdit"
    >
        <img src="assets/images/edit-button.svg" alt="редактировать">
    </div>
</div>
