<header class="header">
    <div class="header__content">
        <div class="header__content__user-info">
            <img src="assets/images/header-user.svg" alt="user">
            <p>{{userInfo}}</p>
        </div>
        <img src="assets/images/logo.svg" class="logo" alt="logo">
        <a href="http://localhost:4200/cabinet/1" class="header__content__FAQ">FAQ</a>
        <button class="header__content__burger-button">
            <img src="assets/images/burger-button.svg" alt="button">
        </button>
    </div>
</header>
