<header class="header">
    <div class="header__content">
        <div class="header__user-info">
            <img
                class="header__user-img"
                src="assets/images/header-user.svg"
                alt="user"
            >
            <p class="header__user-name">{{ userInfo }}</p>
        </div>
        <img
            class="logo"
            src="assets/images/logo.svg"
            alt="logo"
        >
        <a
            class="header__FAQ"
            href="http://localhost:4200/cabinet/1"
        >
            FAQ
            <img
                src="assets/images/header-question.svg"
                alt="question"
            >
        </a>
        <button
            class="header__burger-button"
            (click)="openNavigation()"
        >
            <img src="assets/images/burger-button.svg" alt="button">
        </button>
    </div>

    <div
        class="header__logout-button"
        (click)="logout()"
    >
        <img src="assets/images/logout.svg" alt="выход">
    </div>
</header>
