.plan {
    margin-top: 82px;

    &__title {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 400;
        line-height: 60px;
        color: #202124;
    }
}

.therapy {
    font-family: Roboto, sans-serif;
    margin-bottom: 15px;

    &__button-container {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 15px;
    }

    &__icon {
        width: 18.75px;
        height: 18.75px;
        margin-right: 8px;
    }

    &__add-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 20px;
        border: 0.7px solid #B11261;
        border-radius: 4px;
        width: 200px;
        height: 40px;
        padding: 6px 15px;
        margin-top: 15px;
        transition-duration: 0.2s;

        &:hover {
            transform: scale(1.025);
        }

        &_hide {
            display: none;
        }
    }
}

.add-therapy-form {
    width: 70%;
    position: relative;
    margin-top: 10px;

    &__container {
    }

    &__data {
        width: 100%;
        font-size: 20px;
        line-height: 24px;
        border-radius: 3px;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    &__action {
        display: flex;
    }

    &__cancel-button {
        font-size: 16px;
        line-height: 20px;
        width: 100px;
        height: 25px;
        border-radius: 3px;
        margin-top: 10px;
        border: solid 0.5px;

        &:hover {
            opacity: 0.7;
            transition-duration: 0.2s;
        }

        &:active {
            opacity: 0.4;
        }
    }

    &__submit-button {
        font-size: 16px;
        line-height: 20px;
        width: 100px;
        height: 25px;
        border-radius: 3px;
        right: 0;
        position: absolute;
        margin-top: 10px;
        background-color: #202124;
        color: white;
        border: none;

        &:hover {
            opacity: 0.7;
            transition-duration: 0.2s;
        }

        &:active {
            opacity: 0.4;
        }
    }
}

