<div
    class="therapy"
    *ngIf="therapyData"
>
    <div class="therapy__title">
        <span>{{ therapyData.name }}</span>
        <div
            class="therapy__delete-therapy-button"
            (click)="deleteTherapy(therapyData.id)"
            *ngIf="canEdit"
        >
            <img src="assets/images/delete-button.svg" alt="удалить">
        </div>
    </div>
    <div class="therapy__content">
        <div class="appointment-title">
            Пройденные приемы:
        </div>
        <ng-container *ngIf="completedAppointments.length !== 0; else noCompletedAppointments">
            <ng-container *ngFor="let completedAppointment of completedAppointments">
                <div class="completed-appointments">
                    <appointment
                        [appointmentData]="completedAppointment"
                        [canEdit]="canEdit"
                    >
                    </appointment>
                    <div class="completed-appointments__delete-button-container">
                        <div
                            class="completed-appointments__delete-button"
                            (click)="deleteAppointment(completedAppointment.id)"
                            *ngIf="canEdit"
                        >
                            <img
                                class="completed-appointments__delete-button-icon"
                                src="assets/images/delete-button.svg"
                                alt="удалить"
                            >
                            <span class="completed-appointments__delete-button-text">Удалить этап</span>
                        </div>
                    </div>
                </div>

            </ng-container>
        </ng-container>
        <ng-template #noCompletedAppointments>
            <div class="noAppointmentInfo">Пройденных приемов нет</div>
        </ng-template>

        <form
            class="add-appointment-form"
            [formGroup]="addAppointmentForm"
            (ngSubmit)="onSubmit()"
            *ngIf="showCompletedAppointmentsForm"
        >
            <div class="add-appointment-form__container">
                <input
                    class="add-appointment-form__data"
                    type="number"
                    formControlName="number"
                >
                <input
                    class="add-appointment-form__data"
                    type="text"
                    formControlName="name"
                >
                <input
                    class="add-appointment-form__data"
                    type="date"
                    formControlName="date"
                >
            </div>
            <div class="add-appointment-form__action">
                <button
                    class="add-appointment-form__cancel-button"
                    type="button"
                    (click)="cancelCompletedAppointments()"
                >
                    Отмена
                </button>

                <button
                    class="add-appointment-form__submit-button"
                    type="submit"
                >
                    Сохранить
                </button>
            </div>
        </form>

        <div class="therapy__button-container">
            <div
                class="therapy__add-button"
                (click)="addCompletedAppointments()"
                *ngIf="canEdit"
                [ngClass]="{'therapy__add-button_hide': showCompletedAppointmentsForm}"
            >
                <img
                    class="therapy__icon"
                    src="/assets/images/add-button.svg"
                    alt="кнопка добавить">
                <p class="therapy__name">Добавить этап</p>
            </div>
        </div>

        <hr style="height:3px; border:none; color:#A1A1A1; background-color:#A1A1A1;">

        <div class="appointment-title">
            Планируемые приемы:
        </div>
        <ng-container *ngIf="plannedAppointments.length !== 0; else noPlannedAppointments">
            <ng-container *ngFor="let plannedAppointment of plannedAppointments">
                <div class="planned-appointments">
                    <appointment
                        [appointmentData]="plannedAppointment"
                        [canEdit]="canEdit"
                    >
                    </appointment>
                    <div class="completed-appointments__delete-button-container">
                        <div
                            class="completed-appointments__delete-button"
                            (click)="deleteAppointment(plannedAppointment.id)"
                            *ngIf="canEdit"
                        >
                            <img
                                class="completed-appointments__delete-button-icon"
                                src="assets/images/delete-button.svg"
                                alt="удалить"
                            >
                            <span class="completed-appointments__delete-button-text">Удалить этап</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noPlannedAppointments>
            <div class="noAppointmentInfo">Планируемых приемов нет</div>
        </ng-template>

        <form
            class="add-appointment-form"
            [formGroup]="addAppointmentForm"
            (ngSubmit)="onSubmit()"
            *ngIf="showPlannedAppointmentsForm"
        >
            <div class="add-appointment-form__container">
                <input
                    class="add-appointment-form__data"
                    type="number"
                    formControlName="number"
                >
                <input
                    class="add-appointment-form__data"
                    type="text"
                    formControlName="name"
                >
                <input
                    class="add-appointment-form__data"
                    type="date"
                    formControlName="date"
                >
            </div>
            <div class="add-appointment-form__action">
                <button
                    class="add-appointment-form__cancel-button"
                    type="button"
                    (click)="cancelPlannedAppointments()"
                >
                    Отмена
                </button>

                <button
                    class="add-appointment-form__submit-button"
                    type="submit"
                >
                    Сохранить
                </button>
            </div>
        </form>

        <div class="therapy__button-container">
            <div
                class="therapy__add-button"
                (click)="addPlannedAppointments()"
                *ngIf="canEdit"
                [ngClass]="{'therapy__add-button_hide': showPlannedAppointmentsForm}"
            >
                <img
                    class="therapy__icon"
                    src="/assets/images/add-button.svg"
                    alt="кнопка добавить">
                <p class="therapy__name">Добавить этап</p>
            </div>
        </div>
    </div>
</div>
