.photodocs-info {
    font-family: Roboto, sans-serif;
    color: #202124;
    font-size: 20px;
    line-height: 28px;

    &__table {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
    }

    &__label {
        background-color: #D8D8D8;
        font-weight: 500;
        border: 1px solid #A1A1A1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &__data {
        border: 1px solid #A1A1A1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .photodocs-file {
        text-decoration: none;
        color: #3966B1;
    }

    &__img {
        margin-right: 10px;
    }
}
