<div class="therapy">
    <ng-container *ngFor="let therapyData of therapyListModel.therapyList">
        <div class="therapy__title">
            {{ therapyData.therapyName }}
        </div>
        <div class="therapy__content">
            <div class="appointment-title">
                Пройденные приемы:
            </div>
            <ng-container *ngFor="let completedAppointment of therapyData.completedAppointments">
                <div class="completed-appointments">
                    <appointment [appointmentData]="completedAppointment"></appointment>
                </div>
            </ng-container>

            <hr>
            <div class="appointment-title">
                Планируемые приемы:
            </div>
            <ng-container *ngFor="let plannedAppointment of therapyData.plannedAppointments">
                <div class="planned-appointments">
                    <appointment [appointmentData]="plannedAppointment"></appointment>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
