<footer>
    <div class="footer flex">
        <div class="footer__left">
            <h3 class="footer__left_header">КОНТАКТЫ</h3>
            <p class="footer__left_miniheader">Центр сопровождения пациентов:</p>
            <p class="footer__left_descr ">620075, г. Екатеринбург,
                ул.&nbsp;Кузнечная,&nbsp;83
                <br>+7 (343) 342-00-00
            </p>
            <p class="footer__left_miniheader">Центр сопровождения пациентов:</p>
            <p class="footer__left_descr ">+7 (909) 701-11-99 (WhatsApp,Viber)</p>
            <p class="footer__left_miniheader">Время работы:</p>
            <p class="footer__left_descr ">8:00-21:00 без перерывов и выходных</p>
        </div>
        <div class="footer__mid">
            <h3 class="footer__mid_header">ИНФОРМАЦИЯ</h3>
            <p class="footer__mid_descr">Условия обработки персональных данных</p>
            <p class="footer__mid_descr">Постановление Правительства СО № 1006 ПП от 21.12.2017 года</p>
            <p class="footer__mid_descr">ПП РФ от 08.12.2017 года</p>
            <p class="footer__mid_descr">Приказ 577-п</p>
            <p class="footer__mid_descr">Положение о гарантиях</p>
        </div>
    </div>
</footer>
