<div class="navigation-button-group" *ngIf="navigationData">
    <ng-container *ngFor="let navigationDataItem of navigationData">
        <a class="navigation-button" routerLink="{{ navigationDataItem.link }}">
            <div class="navigation-button__content">
                <img
                    class="navigation-button__icon"
                    src="/assets/images/{{ navigationDataItem.imgSrc }}"
                    alt="кнопка навигации">
                <p class="navigation-button__name">{{ navigationDataItem.title }}</p>
            </div>
        </a>
    </ng-container>
</div>

