<div class="navigation-button-group">
    <a class="navigation-button" routerLink="home">
        <div class="navigation-button__content">
            <img
                class="navigation-button__icon"
                src="/assets/images/home.svg"
                alt="домой">
            <p class="navigation-button__name">Главная</p>
        </div>
    </a>
    <a class="navigation-button" routerLink="patient-list">
        <div class="navigation-button__content">
            <img
                class="navigation-button__icon"
                src="/assets/images/patient-list-icon.svg"
                alt="список пациентов">
            <p class="navigation-button__name">Список пациентов</p>
        </div>
    </a>
    <a class="navigation-button" routerLink="/auth/register">
        <div class="navigation-button__content">
            <img
                class="navigation-button__icon"
                src="/assets/images/add-client.svg"
                alt="добавить клиента">
            <p class="navigation-button__name">Добавить клиента</p>
        </div>
    </a>
</div>

