<div class="home">
    <div class="home__body">
        <div class="home__title">
            Личный кабинет пациента
        </div>
        <div class="home__content">

            <admin-card [adminCardData]="adminViewModel.adminCardData"></admin-card>

            <div class="cabinet-info">
                <h2 class="cabinet-info__title">
                    Информация о личном кабинете
                </h2>
                <p class="cabinet-info__description">
                    Приветствуем вас в личном кабинете!
                    <br>Здесь вы можете:
                </p>
                <ul class="cabinet-info-list">
                    <li class="cabinet-info-list__item">
                        Записаться на прием,
                    </li>
                    <li class="cabinet-info-list__item">
                        Хранить и просматривать фотопротоколы и заключения врача по рентгеновским снимкам,
                    </li>
                    <li class="cabinet-info-list__item">
                        Следить за обновлениями в плане лечения и планировать визиты вовремя,
                    </li>
                    <li class="cabinet-info-list__item">
                        Заказать справку для налоговой,
                    </li>
                    <li class="cabinet-info-list__item">
                        Наблюдать за лечением своих детей до 14 лет.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
