<div class="navigation-button-group">
    <navigation-button
        [name]="'Главная'"
        [iconSrc]="'/assets/images/home.svg'"
        [id]="id"
        [pageRout]="'home'"
    >
    </navigation-button>
    <navigation-button
        [name]="'План лечения'"
        [iconSrc]="'/assets/images/planning.svg'"
        [id]="id"
        [pageRout]="'plan'"
    >
    </navigation-button>
    <navigation-button
        [name]="'Фотодокументы'"
        [iconSrc]="'/assets/images/gallery.svg'"
        [id]="id"
        [pageRout]="'photodocs'"
    >
    </navigation-button>
</div>
