<div class="navigation-button-group">
    <navigation-button
        [name]="'Главная'"
        [iconSrc]="'/assets/images/home.svg'"
        [id]="id"
        [pageRout]="'home'"
    >
    </navigation-button>
    <navigation-button
        [name]="'План лечения'"
        [iconSrc]="'/assets/images/planning.svg'"
        [id]="id"
        [pageRout]="'plan'"
    >
    </navigation-button>
    <navigation-button
        [name]="'Фотодокументы'"
        [iconSrc]="'/assets/images/gallery.svg'"
        [id]="id"
        [pageRout]="'photodocs'"
    >
    </navigation-button>

    <a href="https://megadenta.ru/form/zapisatsya-na-priem">
        <button
            class="navigation-button-group__make-appointment"
        >
            Записаться на прием
        </button>
    </a>

    <a href="https://nalog.megadentadeti.ru/">
        <button
            class="navigation-button-group__issue-documents"
        >
            Оформить документы для налоговой
        </button>
    </a>
</div>
