.header {
    height: 82px;
    width: 100%;
    padding: 0 44px;
    border-bottom: 1px solid #D9D9D9;
    background: white;

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__FAQ {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: black;

            width: 100px;
            height: 40px;
            text-decoration: none;
            background: #FFFFFF;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            border: 0.7px solid #D63384;
            border-radius: 4px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.08));
        }

        &__user-info {
            display: flex;
            align-items: center;
            flex-direction: row;
            //font-family: Roboto; я не знаю, как запихать сюда шрифт
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
        }

        &__burger-button {
            display: none;
        }
    }
}

.header__content__user-info p {
    padding-left: 10px;
}

@media screen and (max-width: 895px) {
    .header {
        height: 53px;
        width: 100%;
        padding: 8px;
        background: white;

        &__content {
            flex-direction: row-reverse;
            padding: 0 3%;

            &__FAQ{
                display: none;
            }

            &__burger-button{
                display: flex;
                background: #FFFFFF;
                border: none;
            }

        }
    }
    .header .logo {
        width: 150px;
        height: 20.96px;
    }

    p {
        display: none;
    }
}
